header {
    display: block;
    padding: 10px;
    margin: 0px;
}

header img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
}

header h1 {
    position:absolute;
    display: flex;
    top: 1vw;
    right: 9vw;
    margin: 5px;
    font-family: 'Fugaz One', cursive;
    font-size: 10vw;
    color:rgba(47, 79, 79, 0.521);
}

body {
    background: darkslategray;
    margin-bottom: 30px;
}

nav {
    position:absolute;
    top: 2vw;
    left: 2vw; 
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 2vw;
    width: 16vw;
}

#menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 15vw;
    padding: 5px;
    margin: 3px;
    list-style-type:none;
    color: rgb(223, 224, 224);
}

button {
    display: block;
    text-align: center;
    width: 13vw;
    margin: 2px;
    padding: 5px;
    background-color: rgba(47, 79, 79, 0.521);
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
}

li {
    left: 2vw;
}

a {
    text-decoration: none;
}

.nav-links {
    text-decoration: none;
    color: rgb(223, 224, 224);
}

button:hover {
    box-shadow: inset 0px 0px 5px 5px darkseagreen;
}

.page-headers {
    display: block;
    background-color: rgb(223, 224, 224);
    margin: 0;
    padding: 15px;
    border: solid 20px darkseagreen;
    text-align: center;
    font-size: 5vw;
    font-family: 'Fugaz One', cursive;
}

section {
    display: inline-block;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    padding: 20px;
}

.main-content{
    text-align: center;
}

.columns{
    display: inline-flex;
    width: 250px;
    min-height: 510px;
    padding: 12px;
    margin: 15px;
}

.columns-text {
    display: inline-flex;
    color:darksalmon;
    font-family: 'Fugaz One', cursive;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    font-size: 18px;
}

#frisbee-img {
    max-width: 250px;
    
}

#git-hub-img {
    max-width: 250px;
    
}

#linkedin-img {
    max-width: 250px;
   
}

.columns:hover {
    border: solid darkseagreen 5px;
    /* display: inline-flex; */
}
h2 {
    color: darksalmon;
    font-family: 'Fugaz One', cursive;
    font-size: 30px;
    font-weight: 500;
}

h3 {
    color: rgb(223, 224, 224);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

h4 {
    color: rgb(223, 224, 224);
    font-family: 'Fugaz One', cursive;
    font-size: 30px;
    margin: 15px 10px 15px 10px;
}

h5{
    display: flex;
    justify-content: center;
    align-items: center;
    color:darkseagreen;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.info {
    color: rgb(223, 224, 224);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.about-me-img {
    float: right;
    border-radius: 50%;
    width: 25%;
    margin-right: 10px;
    margin-top: 40px;
    margin-bottom: 5px;
    border: solid darkseagreen 5px;
}

.hiking-img {
    float: left;
    width: 25%;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 30px;
    border: solid darkseagreen 5px;
}

#contact-page {
    text-align: center;
    display: block;
}

#contact-page a{
    color: rgb(223, 224, 224);
}

.screenshot1 {
    float: right;
    display:block;
    width: 30%;
    margin: 30px 20px 10px 30px;
    border:solid 5px rgb(223, 224, 224);
}

.screenshot1:hover {
    border: none;
}


.screenshot2 {
    float: right;
    display: block;
    width: 30%;
    margin: 30px 20px 10px 30px;
    border:solid 5px rgb(223, 224, 224);
}

.screenshot2:hover {
    border: none;
}

.screenshot3 {
    float: right;
    display:block;
    width: 30%;
    margin: 30px 20px 10px 30px;
    border:solid 5px rgb(223, 224, 224);
}

.screenshot3:hover {
    border: none;
}

footer {
    text-align: center;
    margin-top: 30px;
    height: 50px;
}

.update {
    padding-left: 15px;
}

.footer-img {
    height: 50px;
}

@media screen and (max-width: 900px) {
    nav {
        width: 15%;
    }
}

@media screen and (max-width: 500px) {
    .screenshot1 {
        width: 100%;
        margin: 15px 40px 15px 40px;
        float: none;
    }
    .screenshot2 {
        width: 100%;
        margin: 15px 40px 15px 40px;
    }
    
}